<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>kchat</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/stylesheets/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/stylesheets/morris.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/jquery.ioslist.css" />
    <link rel="stylesheet" href="/stylesheets/dropdown.css" />

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<!-- for Modal part (pop up send contact request page) -->

<link rel="stylesheet" href="/jquery-modal/jquery.modal.css" type="text/css" media="screen" />


    <!-- Custom Fonts -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <P id="user_id" style="visibility: hidden"><%=user_id %></p>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="submit" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- /.navbar-header -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li >
                        <a href="#">
                            <img src="/images/chat.png" width="40" height="40">
                    </a>
                    </li>
                    <li>
                        <a href="/group">
                            <img src="/images/group.png" width="40" height="40">
                        </a>
                    </li>
                    <li class="active">
                        <a href="/contact">
                            <img src="/images/profile.png" width="40" height="40">
                        </a>
                    </li>

            <!--    <li>
                    <form id="search_user" action="">
                      <input id="search" autocomplete="off" />
                      <button class="btn btn-default" type="submit" href="/search">
                        <i class="fa fa-plus"></i>
                        </button>
                      </form>
                    </li> -->
                    <li style="float:right;">
                      <div class="dropdown" style="float:right;">
                        <button class="dropbtn"><i class="fa fa-plus"></i></button>
                        <div class="dropdown-content" style="left:0;">
                          <form id="search_user" action="">
                            <input id="search" autocomplete="off" / placeholder="search user">
                            <button class="btn btn-default" type="submit" href="/search">
                              <i class="fa fa-search"></i>
                              </button>
                            </form>
                        </div>
                      </div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-static-side -->
        </nav>

            <!-- /.navbar-top-links -->
            <!-- chat list -->

            <div class="navbar-default sidebar">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                              <form  action="">
                                <input  autocomplete="off" />
                                <button class="btn btn-default" type="submit" href="/search">
                                  <i class="fa fa-search"></i>
                                  </button>
                                </form>

                                <span class="input-group-btn">

                            </span>
                            </div>
                        </li>
                        <div id="list1">
                          <div class="ioslist-group-container">
                            <div class="ioslist-group-header">Friends List</div>
                            <ul style="list-style-type: none">
                              <% for(var i=0; i < contacts.length; i++) { %>
                                <li><a href="/contacts/<%= contacts[i].user_id %>"><%= contacts[i].username %> (<%= contacts[i].name %>)</a></li>

                                <% } %>
                              </ul>
                            </div>
                          </div>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

      </div>

        <div id="page-wrapper">
        <div class="col-md-12 col-xs-12 login_control">


                <div class="control">
                    <i class="fa fa-user-circle-o" ></i>
                    <p><%= contacts[pointer].username %></p>
                </div>

								<div class="control">

                    <i class="fa fa-envelope" ></i>

                    <p><%= contacts[pointer].email %></p>
                </div>

								<div class="control">

                    <i class="fa fa-phone" ></i>

                    <p><%= contacts[pointer].phone_number %></p>
                </div>
        </div>
        <ul id="search_result">

        </ul>
          </div>
          <div id="modal">

          </div>
          <!--Modal to show when it's successful -->
          <div id="inviteSuccessful" style="display:none;">
            <p>Invitation Sucessful</p>
            <button type="button" onclick="$.modal.close();" rel="modal:close">Close</button>
          </div>

          <!--Modal to show when it's error -->
          <div id="inviteError" style="display:none;">
            <p>Invitation Error. Please Try Again.</p>
            <button type="button" onclick="$.modal.close();" rel="modal:close">Close</button>
          </div>

  <!-- Link to open the modal -->


    </div>
            <!-- /.row -->
        </div>

  <!--  <script src="/vendor/jquery/jquery.min.js"></script>


    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>
    <script src="/data/morris-data.js"></script> */

    <script src="/dist/js/sb-admin-2.js"></script>
      <script src="/socket.io/socket.io.js"></script>
  -->
        <script src="http://188.166.157.62:3000/socket.io/socket.io.js"></script>

        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="/jquery-modal/jquery.modal.min.js" type="text/javascript" charset="utf-8"></script>

        <script>
        var socket = io.connect('http://188.166.157.62:3000');
        var currentUser = $("#user_id").text();;
        $(function () {

        var currentUser= "";
        var FriendUser="";
      //jquery fuction
      $('#search_user').submit(function(){
        //send to 'chat message' in server with m's value
        socket.emit('search_user_filter',$('#search').val() , "0");
        //set the message box to be empty after send to server
      //  $('#m').val('');
        return false;
      });
      //get server data and integrated with UI
      socket.on('search_user_received', function(msg){
      var target = JSON.parse(msg);
      if(!$('#search_result').is(':empty')){
        $( "#search_result" ).empty();
      }
       for(var i=0; i < target.length; i++) {

         $('#search_result').append($('<br><a href="#ex'+i+'" rel="modal:open">').text("username:"+target[i].username+" name:"+target[i].name ));

         $("#modal").append('<div id="ex'+i+'" style="display:none;"><p>Send request confirmation<p><p>Do you send contact Request to '+target[i].name+'?</p><button onclick="sendRequest('+target[i].user_id+')">OK</button><button type="button" onclick="$.modal.close();" rel="modal:close">Cancel</button>');


    //  $('#search_result').append($('<br><a href="#ex'+i+'" rel="modal:open">').text("username:"+target[i].username+" name:"+target[i].name ));
    //  $("#modal").append('<div id="ex'+i+'" style="display:none;"><p >Send request confirmation<p><p>Do you send contact Request to '+target[i].name+'  </p <a href="#" rel="modal:close">CANCEL</a></button> <form id="send_request" k><input type="hidden" id="foo" name="zyx" value="bar" /><button type="submit"><a href="/'+target[i].user_id+'" rel="modal:close">OK</a></button></form></div>');
      // $("#modal").append('<div id="ex'+i+'" style="display:none;"><p>Send request confirmation<p><p>Do you send contact Request to '+target[i].name+'?</p><button onclick="sendRequest('+target[i].user_id+')">OK</button><button type="button" onclick="$.modal.close();" rel="modal:close">Cancel</button>');
        }
       });
     });

     function sendRequest(id) {
       var error;
       console.log ("test4");



 socket.emit('send_contact_request', currentUser, id);
  console.log ("test5");
       socket.on('sent_request', function(msg){
         console.log ("test6");
         console.log(msg);
         console.log ("test7");
         if(msg == "fail"){
           //Close openning modal
           $.modal.close();
           //Open Invite Error Modal
           $('#inviteError').modal();
         }else{
           //Close openning modal
           $.modal.close();
           //Open Invite Sucessful Modal
           $('#inviteSuccessful').modal();
         }
       });

     }



    </script>
</body>

</html>
