<!DOCTYPE html>

<html >
<head>
  <meta charset="UTF-8">
  <title>Register form</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='/stylesheets/style.css' />


</head>

<body onload="saveData()">
  <a href="/chat">
      <img src="/images/left_arrow.png" width="40" height="40">
</a>
<div class="wrapper">

<form id="Profile" action="" onsubmit="return editProfile();" >
	<div class="row login_box">
	    <div class="col-md-12 col-xs-12" align="center">
            <div class="outter"><img src="http://188.166.157.62/profile_pictures/<%= profile_picture %>" class="image-circle"/></div>
	    </div>
        <div class="col-md-12 col-xs-12 login_control">
          <div class="control">
              <input type="hidden" value="<%=user_id %>" id="userId" name="name"/>
          </div>

                <div class="control">

                    <i class="fa fa-user-circle-o" ></i>

                    <input type="text" class="form-control" value="<%= username %>" id="userName" name="name"/>
                </div>

                <div class="control">

                    <i class="fa fa-user-circle-o" ></i>

                    <input type="text" class="form-control" value="<%= fullname %>" id="fullName" name="name"/>
                </div>

								<div class="control">

                    <i class="fa fa-user-circle-o" ></i>
                    <input type="text" class="form-control" value="<%= email %>" id="email" name="email"/>
                </div>

								<div class="control">

                    <i class="fa fa-user-circle-o" ></i>

                    <input type="text" class="form-control" value="<%= phone %>"  id="phone" name="phone"/>
                </div>

                <div class="control">

                    <i class="fa fa-user-circle-o" ></i>
                    <input type="text" class="form-control" value="<%=biography %>" id="biography" name="phone"/>
                </div>


                <div >
                    <a href="/login"> <button class="btn btn-orange">Log Out</button></a>

                  <a href="/changePass">   <button class="changePassword">Change Password</button> </a>
                </div>
                <a href="">   <button type="submit" class="changePassword">Save changes</button> </a>
              </div>
        </div>


    </div>
	</div>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="http://188.166.157.62:3000/socket.io/socket.io.js"></script>
  <script>
 var socket = io.connect('http://188.166.157.62:3000');
  var old_userName;
  var old_fullName;
  var old_email;
  var old_phone;
  var old_biography;
  var currentUser=$("#userId").val();
  function saveData(){
    old_userName=$("#userName").val();
    old_fullName=$("#fullName").val();
    old_email=$("#email").val();
    old_phone=$("#phone").val();
    old_biography=$("#biography").val();
    console.log("user id" +currentUser);
    console.log("old user name is" +old_userName);

  console.log("old full name is" +old_fullName);

console.log("old email is" +old_email);

console.log("old phone is" +old_phone);

console.log("old biography is" +old_biography);
}


 function editProfile(){
    console.log($("#userName").val());
    if($("#userName").val()!= old_userName){
      console.log("user name changed!");
      socket.emit('change_username', currentUser,$("#userName").val());
      socket.on('username_changed',function(msg){
        var result=msg
        console.log(result);
        if(result != 'duplicate'&& result != 'fail')
        console.log("username_changed"+msg);
        old_userName=result;
        $("#userName").val(result);

      });


    }
    if($("#fullName").val()!= old_fullName){
      console.log("full name changed!");
      socket.emit('change_fullname', currentUser,$("#fullName").val());
      socket.on('fullname_changed',function(msg){
        var result=msg
        console.log(result);
        if(result != 'fail')
        console.log("fullName_changed"+msg);
        old_fullName=result;
        $("#fullName").val(result);

      });
    }
    if($("#email").val()!= old_email){
      console.log("email changed!");
      socket.emit('change_email', currentUser,$("#email").val());
      socket.on('email_changed',function(msg){
        var result=msg
        console.log(result);
        if(result != 'fail')
        console.log("email_changed"+msg);
        old_email=result;
        $("#email").val(result);

      });

    }
    if($("#phone").val()!= old_phone){
      console.log("phone changed!");
      socket.emit('change_phone_number', currentUser,$("#phone").val());
      socket.on('phone_number_changed',function(msg){
        var result=msg
        console.log(result);
        if(result != 'fail')
        console.log("phoneNo_changed"+msg);
        old_phone=result;
        $("#phone").val(result);

      });
    }
    if($("#biography").val()!= old_biography){
      console.log("biography changed!");
      socket.emit('change_about', currentUser,$("#biography").val());
      socket.on('about_changed',function(msg){
        var result=msg
        console.log(result);
        if(result != 'fail')
        console.log("about_changed"+msg);
        old_biography=result;
        $("#biography").val(result);

      });
    }
    return false;
 }
  </script>

</body>
</html>
