<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Register form</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='/stylesheets/style.css' />


</head>

<body>
<div class="wrapper">

	<div class="row login_box">
	    <div class="col-md-12 col-xs-12" align="center">
            <div class="outter"><img src="../images/profile.jpg" class="image-circle"/></div>
	    </div>
        <div class="col-md-12 col-xs-12 login_control">

                <div class="control">

                  <p>Username:</p>
                 <div style="display:inline;">
                  <p> <%= username %></p>
                  <a href="/changeUsername">   <button class="cbtn btn-orange">Change userName</button> </a>
                  </div>
                </div>

								<div class="control">

                  <p>
                    Email:
                  </p>
                  <p>
                  <%= email %>
                  </p>
                  <a href="/changePass">Edit</a>
                </div>

								<div class="control">

                  <p>
                    phoneNo:
                  </p>
                  <p>
                  <%= phone %>
                  </p>
                  <a href="/changePass">Edit</a>
                </div>


                <div >
                  <p>
                    Full name:
                  </p>
                  <p>
                  <%= fullname %>
                  </p>
                  <a href="/changePass">Edit</a>
                </div>

                <div >
                  <p>
                    Biography:
                  </p>
                  <p>
                  <%= biography %>
                  </p>
                  <a href="/changePass">Edit</a>
                </div>

                  <div >
                    <a href="/login"> <button class="btn btn-orange" >Log Out</button></a>

                  <a href="/changePass">   <button class="cbtn btn-orange">Change Pass</button> </a>
                  <a href="/changePass">   <button class="cbtn btn-orange">Change Pass</button> </a>
                </div>


        </div>
       <div>

       </div>
       <div id="deleteGroupFail" style="display:none;">
         <p>You have failed deleting the group! </p>
         <button type="button" onclick="$.modal.close();" rel="modal:close">Close</button>
       </div>
    </div>
	</div>

   <script>
   function InputUsername(){
      $('#eleteGroupFail').modal();
   }

   </script>

</body>
</html>
